# Python binary files
*/__pycache__
*.pyc

# 虚拟环境、idea
/.idea/
/venv

# 配置文件、日志
config.yaml
/log

# 测试文件
/modules/test_modules/

# 数据库
data.db

# 数据文件
/modules/self_contained/bilibili_dynamic/dynamic_list.json

# 第三方插件
/modules/third_party/
