# Python binary files
*/__pycache__
*.pyc

# 虚拟环境、idea
/.idea/
/venv

# 配置文件、日志
.vscode/
config.yaml
/log

# 测试文件
/modules/test_modules/

# 数据库
data.db

# 数据文件
/modules/self_contained/bilibili_dynamic/dynamic_list.json
/modules/self_contained/emoji_mix/assets/update.json

# 第三方插件
/modules/third_party/
auto_get_server.py
core/models/saya_model/modules_data.json

#文件修改记录
.history/