# Python binary files
*/__pycache__
*.pyc

# 环境
.env
.venv
.vscode/
.idea/
env/
venv/
ENV/
env.bak/
venv.bak/

# 配置文件、日志
/config/config.yaml
/log

# 测试文件
/modules/test_modules/
auto_get_server.py
test.py

# 数据库
data.db

# Alembic files
/alembic/
alembic.ini

# 数据文件
/data/
/modules/self_contained/bilibili_dynamic/dynamic_list.json
/modules/self_contained/emoji_mix/assets/update.json
/modules/self_contained/chat_gpt/gpt_mode.json
/modules/self_contained/claude/config.json
/core/models/saya_model/modules_data.json
/utils/bf1/default_account.json
/utils/bf1/manager_accounts.json
/utils/bf1/ap_info.json

# 第三方插件
/modules/third_party/
/modules/self_contained/bf1_warm_server/

#文件修改记录
.history/
