[tool.poetry]
name = "bot-xiaomai-open"
version = "0.3.0"
description = "基于Graia-Ariadne开的qqbot-小埋，v3重构版本"
authors = ["13"]
license = "GNU GENERAL PUBLIC LICENSE"
readme = "README.md"
packages = [{include = "bot_xiaomai_open"}]

[tool.poetry.dependencies]
python = "^3.10"
httpx = "^0.23.1"
creart = "^0.2.2"
graia-ariadne = {extras = ["standard"], version = "^0.10.2"}
graiax-playwright = "^0.2.1"
sqlalchemy = "^1.4.45"
pyyaml = "^6.0"
aiosqlite = "^0.18.0"
psutil = "^5.9.4"
arclet-alconna-graia = "^0.10.4"
jinja2 = "^3.1.2"
markdown-it-py = "^2.1.0"
mdit-py-plugins = "^0.3.3"
graiax-text2img-playwright = "^0.3.0"
launart = "0.6.1"
unwind = "0.3.2"
aiofiles = "^22.1.0"
zhconv = "^1.4.3"
pillow = "^9.4.0"
bs4 = "^0.0.1"
requests = "^2.28.1"
jieba = "^0.42.1"
picimagesearch = "^3.7.8"
imageio = "^2.24.0"
bilireq = "^0.2.3.post0"
qrcode = "^7.3.1"
grpcio = "^1.51.1"
grpcio-status = "1.49.0"
edgegpt = "0.1.12.1"
pypinyin = "^0.48.0"
gitpython = "^3.1.31"
revchatgpt = "3.3.4"
rapidfuzz = "^2.13.7"
noneprompt = "^0.1.9"
alembic = "^1.10.3"
graiax-fastapi = "^0.2.1"
uvicorn = "^0.21.1"


[tool.poetry.group.dev.dependencies]
memory-profiler = "^0.61.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.source]]
name = "pypi-public"
url = "https://pypi.org/simple/"
default = false

[[tool.poetry.source]]
name = "tuna-tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
default = true
